
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LetsGoLayout.cshtml";
}




<section class="page-img" style="background-image: url(../../Images/img/home_img/mountain.jpg);">
    <div class="main-title">
        <h1>We Make Best of every trip</h1>
    </div>
</section>




<div class="container">
    <div class="section row">

        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus rerum, pariatur doloremque ipsam cum nesciunt cumque vel hic, tempora fugiat praesentium tenetur obcaecati, enim, ducimus aliquid in unde magni nisi? Non, blanditiis. Labore dolor porro doloribus vel quod fugiat dignissimos, quae molestias necessitatibus atque. Dicta nemo obcaecati non quod perferendis necessitatibus repellat harum, cupiditate ducimus quam culpa facere beatae!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorem modi temporibus alias magnam amet neque fugit corporis deleniti, eius. Fuga labore blanditiis mollitia, asperiores impedit quae voluptas nemo ullamorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat unde minima quas dolore placeat sit vero magni eligendi, magnam officia quibusdam, itaque dolor reiciendis minus, ex id velit aperiam. Omnis quasi unde ex voluptatum ipsum incidunt eum praesentium cumque assumenda.</p>
        </div>
        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, hic! Tenetur voluptates ducimus velit cupiditate quam maxime illum. Officia consectetur molestiae quo ducimus consequuntur, tenetur sapiente doloribus distinctio suscipit. Maiores!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, eum? Error enim, vel eaque reiciendis culpa numquam iusto sapiente incidunt sit nesciunt, sequi quae ullam. Nobis ut eaque reiciendis velit, ab, doloremque nostrum impedit laborum quis reprehenderit non nesciunt qui earum adipisci officia ullam aliquam commodi neque! Ipsa, dolores, qui!</p>

            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sed laboriosam culpa, dolorum, pariatur aspernatur!</blockquote>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="steps">
            <div class="col-sm-3 step-module first wp-1 delay-0">
                <div class="index"><span class="icon-island"></span></div>
                <h4>Holiday Planing</h4>
            </div>
            <div class="col-sm-3 step-module wp-1 delay-1">
                <div class="index"><span class="icon-door-tag"></span></div>
                <h4>Hotel Booking</h4>
            </div>
            <div class="col-sm-3 step-module wp-1 delay-2">
                <div class="index"><span class="icon-hiking"></span></div>
                <h4>Tour Package</h4>
            </div>
            <div class="col-sm-3 step-module last wp-1 delay-3">
                <div class="index"><span class="icon-plane"></span></div>
                <h4>Air Ticketing</h4>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="banner base">
    <div class="container">
        <div class="line-box">
            <div class="line-title">Mission</div>
            <h2>Offering The Best for your Holidays</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ullam laboriosam consequuntur, reiciendis dolores expedita facere inventore, deleniti repellendus molestiae minus impedit incidunt dicta quae magnam, omnis nulla eum fugiat est sequi itaque in natus ratione aperiam? Animi soluta sit aliquid veritatis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, consectetur! Tempore iusto cupiditate sapiente hic dolorum.</p>
            <br>
            <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg hvr-sweep-to-right">Book Now</a>
        </div>
    </div>
</div>

~/Images/img/

<section>
    <div class="container">
        <div class="main-title">
            <h2>What clients Say</h2>
            <p>Main Heading that could be used for page title</p>
        </div>
        <div class="row">
            <div class="testimonial boxed">
                <div class="col-sm-4">
                    <div>
                        <img src="~/Images/img/team/1-sm.jpg" alt="" class="avatar">
                        <div class="name">Kim L. Burney</div>
                        <div>U.S.A</div>
                        <div class="rating">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star-empty"></span>
                        </div>							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <img src="~/Images/img/team/2-sm.jpg" alt="" class="avatar">
                        <div class="name">Shing Ch'in</div>
                        <div>China</div>
                        <div class="rating">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star-empty"></span>
                        </div>							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <img src="~/Images/img/team/3-sm.jpg" alt="" class="avatar">
                        <div class="name">Pitez Maltr</div>
                        <div>China</div>
                        <div class="rating">
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star-empty"></span>
                        </div>							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
