
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_LetsGoLayout.cshtml";
}


<section>
    <div class="container">
        <div class="section-title center">
            <h3>Featured Guides</h3>
        </div>
        <div class="row team">
            <div class="col-sm-6 col-md-4">
                <div class="member">
                    <div class="image">
                        <img src="~/Images/img/team/1.jpg" alt="">
                    </div>
                    <h4 class="name">Kim L. Burney</h4>
                    <h5 class="detail">Guide/Writer</h5>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </p>
                    <div class="social">
                        <a href="#" class="icon icon-facebook"></a>
                        <a href="#" class="icon icon-twitter"></a>
                        <a href="#" class="icon icon-google"></a>
                        <a href="#" class="icon icon-rss"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="member">
                    <div class="image">
                        <img src="~/Images/img/team/2.jpg" alt="">
                    </div>
                    <h4 class="name">Shing Ch'in</h4>
                    <h5 class="detail">Tour Guide</h5>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </p>
                    <div class="social">
                        <a href="#" class="icon icon-facebook"></a>
                        <a href="#" class="icon icon-twitter"></a>
                        <a href="#" class="icon icon-google"></a>
                        <a href="#" class="icon icon-rss"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="member">
                    <div class="image">
                        <img src="~/Images/img/team/3.jpg" alt="">
                    </div>
                    <h4 class="name">Pitez Maltr</h4>
                    <h5 class="detail">City Guide</h5>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </p>
                    <div class="social">
                        <a href="#" class="icon icon-facebook"></a>
                        <a href="#" class="icon icon-twitter"></a>
                        <a href="#" class="icon icon-google"></a>
                        <a href="#" class="icon icon-rss"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


